@import "tailwindcss";

/* Hide scrollbar but keep functionality */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #042128;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #376c75 0%, #054752 100%);
  border-radius: 4px;
  border: 1px solid #1f4751;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #29abe6 0%, #054752 100%);
}

*::-webkit-scrollbar-corner {
  background: #042128;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #376c75 #042128;
}

/* Prevent overscroll bounce on iOS */
html,
body {
  overscroll-behavior: none;
  background-color: #041a20;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #376c75 #042128;
}

@theme inline {
  /* Primary Color - #81D44D */
  --color-primary-1: #81d44d;
  --color-primary-2: #9aed66;
  --color-primary-3: #aef185;

  /* Secondary Color - #29ABE6 */
  --color-secondary-1: #29abe6;
  --color-secondary-2: #2ed1ff;
  --color-secondary-3: #58daff;

  /* Teritary Color - #041A20 */
  --color-teritary-1: #041a20;
  --color-teritary-2: #042128;
  --color-teritary-3: #002e39;
  --color-teritary-4: #054752;
  --color-teritary-5: #376c75;

  /* Complimentary Colors  */
  /* Purple Color */
  --color-purple-1: #3e003c;
  --color-purple-2: #5f003c;

  /* Yellow Color */
  --color-yellow-1: #c5db00;
  --color-yellow-2: #daeb40;

  /* Input Colors */
  /* Error Color */
  --color-error-1: #e93d41;
  --color-error-2: rgba(50, 39, 45, 1);

  /* Success Color */
  --color-success-1: #09984a;
  --color-success-2: rgba(5, 62, 48, 1);

  /* Whites Color */
  /* Shades Color */
  --color-white-1: #c7d1d3;
  --color-white-2: #9eb0b4;
  --color-white-3: #668288;
  --color-white-4: #3d6069;
  --color-white-5: #294f59;
  --color-white-6: #1f4751;
  --color-white-7: #143f49;

  /* Gradients Color */
  --background-image-gradient-ocean: linear-gradient(
    to right,
    #0083bf,
    #58daff
  );
  --background-image-gradient-green: linear-gradient(
    to right,
    #51ad17,
    #aef185
  );
  --background-image-gradient-lime: linear-gradient(to right, #a2b30c, #daeb40);

  /* Breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;

  /* Overlay */
  --background-image-overlay-fade: linear-gradient(to top, #041a20, #041a2000);
  --background-image-overlay-fade-up: linear-gradient(
    to top,
    #041a20,
    #041a2000
  );
  --background-image-overlay-glass: linear-gradient(to top, #041a20, #041a2000);
  --background-image-overlay-fade-white: linear-gradient(
    to top,
    #041a20,
    #ffffff00
  );
}

@layer components {
  /* Grids */
  .app-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding-inline: 16px;

    @variant desktop {
      max-width: 1440px;
      margin-inline: auto;
      grid-template-columns: repeat(12, 1fr);
      gap: 40px;
      padding-inline: 40px;
    }
  }

  /* Typography */
  .type-h1 {
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 40px;

    @variant desktop {
      font-size: 60px;
    }
  }

  .type-h2 {
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 32px;

    @variant desktop {
      font-size: 48px;
    }
  }

  .type-h3 {
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 28px;

    @variant desktop {
      font-size: 40px;
    }
  }

  .type-h4 {
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 24px;

    @variant desktop {
      font-size: 32px;
    }
  }

  .type-h5 {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 20px;

    @variant desktop {
      font-weight: 800;
      font-size: 28px;
    }
  }

  .type-h5-light {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 20px;

    @variant desktop {
      font-size: 28px;
    }
  }

  .type-h6 {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 16px;

    @variant desktop {
      font-size: 24px;
    }
  }

  .type-subtitle-1 {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 14px;

    @variant desktop {
      font-size: 20px;
    }
  }

  .type-subtitle-1-5 {
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0px;
    font-size: 18px;
  }

  .type-subtitle-2 {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 16px;
  }

  .type-body-1 {
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    font-size: 16px;

    @variant desktop {
      line-height: 150%;
      font-size: 20px;
    }
  }

  .type-body-1-5 {
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0px;
    font-size: 18px;
  }

  .type-body-2 {
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    font-size: 14px;

    @variant desktop {
      line-height: 150%;
      font-size: 16px;
    }
  }

  .type-captions {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 12px;

    @variant desktop {
      font-size: 14px;
    }
  }

  .type-captions-2 {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 12px;
  }

  /* Line & Deviders */
  .divider-horizontal {
    width: 100%;
    border: none;
    border-top-style: solid;
    border-top-color: var(--color-white-6);
    height: 2px;
    border-top-width: 1px;

    @variant desktop {
      height: 4px;
      border-top-width: 2px;
    }
  }

  .divider-vertical {
    height: 100%;
    border: none;
    border-left-style: solid;
    border-left-color: var(--color-white-6);
    width: 2px;
    border-left-width: 1px;

    @variant desktop {
      width: 4px;
      border-left-width: 2px;
    }
  }

  /* Overlays */
  .overlay-base {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .overlay-dark-fade {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: var(--background-image-overlay-fade);
  }

  .overlay-blur-fade {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: var(--background-image-overlay-glass);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    mask-image: linear-gradient(to top, black 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
  }

  .overlay-fade-white {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: var(--background-image-overlay-fade-white);
  }

  /* Directional Overlays */
  .overlay-fade-left {
    position: absolute;
    inset-block: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(to right, var(--color-teritary-1), transparent);
  }

  .overlay-fade-right {
    position: absolute;
    inset-block: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(to left, var(--color-teritary-1), transparent);
  }

  .overlay-fade-bottom {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to top, var(--color-teritary-1), transparent);
  }

  .overlay-gradient-tertiary-bottom {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to top, var(--color-teritary-2), transparent);
  }

  /* Glows */
  .glow-base {
    position: absolute;
    border-radius: 9999px;
    pointer-events: none;
    z-index: 0;
  }

  .glow-color-blue {
    background: var(--color-secondary-2);
  }

  .glow-color-green {
    background: var(--color-primary-2);
  }

  /* Extra Small - 128px */
  .glow-xs {
    width: 128px;
    height: 128px;
    filter: blur(60px);
  }

  /* Small - 160px */
  .glow-sm {
    width: 160px;
    height: 160px;
    filter: blur(80px);
  }

  /* Medium - 200px */
  .glow-md {
    width: 200px;
    height: 200px;
    filter: blur(100px);
  }

  /* Large - 368px */
  .glow-lg {
    width: 368px;
    height: 368px;
    filter: blur(150px);
  }
}
